@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url("https://fonts.googleapis.com/css?family=Mukta:700");
* {
  box-sizing: border-box;
}
*::before, *::after {
  box-sizing: border-box;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato';
}
body, html {
    background: #1A1A1A;
    height: 100%;
    margin: 0;
  }
  :root{
    --back:#16161A;
    --back-text:#707070;
  }
::selection {
    color:#1A1A1A;
    background:rgb(255, 255, 255);
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* background: #000000; */
    background: linear-gradient( black,#1A1A1A);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(126, 126, 126);
    border-radius: 5px;
    opacity: 0.6;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .nav-item .nav-link{
      color: rgb(255, 255, 255);
      font-family: 'lato';
      font-size: 1.7vh;
      padding: auto;
      margin-top: 1vh;
      text-transform: capitalize;
      margin-left:5vh ;
  }
  
   .navbar-nav{
        margin-left: auto;
        margin-right: 60px;
        color: white;
        padding: 1.4vh;
    }
    .navbar-light .navbar-nav .nav-link{
        color: rgb(255, 255, 255);
        font-family: 'lato';
        font-size:1.9vh;
    }
    
    .navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover{
        color: rgb(255, 255, 255);
        font-family: 'lato';
        font-size: 1.9vh;
        font-weight: 900;
        /* background-color: #00000038; */
        border-radius: 23px;
    }
    
    .bg-light{
        background-color:#1a1a1a!important;
    }

    .first-div{
        background-color: #1A1A1A;
    }
    .title h1 {
        color: var(--back-text);
        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 18vh;
        opacity: 0.15;
        padding-top: 0%;
        margin-top: 9%;
        margin-bottom: 0%;
        padding-bottom: 0%;
        text-transform: uppercase;
        text-align: center;
        z-index: -2;
    }
    .title h3{
        margin-top: -5%;
        color: white;
        opacity: 0.8;
        font-family: 'Lato', sans-serif;
        font-weight: 800;
        font-size: 8.5vh;
        text-align: center;
      }
      .title p{
          text-align: center;
        color: white;
        font-size: 2.7vh;
        font-family: 'raleway';
        padding-left: 5%;
        padding-right: 5%;
    }
    .contri-form{
        margin-top: 8%
        ;
        width: 80%;
        justify-content: center;
        text-align: center;
        /* margin-left: 25%; */
        padding-left: 15%;
    }
    .contri-form .form-row{
        margin-top: 5%;
    }
    .contri-form form{
        padding: 6%;
    }
    .contri-form .col{
        padding-left: 5%;
    }
    .contri-form input[type=text] {
        background-color: #313131;
        color: white;
        border: none;
        padding: 4%;
        border-radius: 15px;
        transition: .25s;
        font-family: 'raleway';
      }
      .contri-form input[type=text]:focus {
        background-color: rgb(14, 14, 14);
        border-radius: 30px;
        border:solid #313131;
        box-shadow: none;
      }
      .contri-form .form-row .phone{
          width: 71%;
      }
      .contri-form .upload{
          margin-top: -1%;
      }
      .contri-form .upload label{
          color: white;
      }
      .contri-form .upload input[type=file]{
          color: white;

      }
      input[type=file]::-webkit-file-upload-button {
        border: 2px solid #7a7a7a;
        padding: .2em .4em;
        border-radius: 35px;
        background-color: #313131;
        transition: 1s;
        color: white;
        text-align: left;
      }
      
      input[type=file]::file-selector-button {
        border: 2px solid #313131;
        padding: .2em .4em;
        border-radius: .2em;
        background-color: #313131;
        transition: 1s;
        border-radius: 15px;
      }
      
      input[type=file]::-webkit-file-upload-button:hover {
        background-color: #242424;
        border-radius: 40px;
        border: 2px solid #7c7c7c;
      }
      
      input[type=file]::file-selector-button:hover {
        background-color: #242424;
        border: 2px solid #3f3f3f;
        border-radius: 40px;
      }
      .form-desc{
          width: 50%;
      }
      .form-desc input[type=text]{
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: none;
        border-radius: 24px;
        background-color: #222222;
        font-size: 16px;
        /* resize:vertical; */
        resize: both;
      }
      textarea{
        width: 100%;
        height: 150px;
        padding: 12px 20px;
        box-sizing: border-box;
        border: none;
        border-radius: 24px;
        background-color: #313131;
        font-size: 16px;
        color: white;
        outline: none;
        transition: 0.25s;
        resize: both;
      }
      textarea:focus {
        background-color: rgb(14, 14, 14);
        border-radius: 30px;
        border:solid #313131;
        box-shadow: none;
        outline: none;
      }
      /* .contri-form .submit-button{
          width: 100%;
          margin-left:0%;
          padding: 5%;
      } */
      /* .contri-form button[type=submit]{
          width: 14%;
          height: 9%; */
          /* margin-left:6%; */
          /* background-color: #313131;
          border: none;
          border-radius: 12px;
          transition: 0.25s;
      } */
      /* .contri-form button[type=submit]:hover{
        width: 14%;
        height: 9%; */
        /* margin-left:6%; */
        /* background-color: #252525;
        border: none;
        border-radius: 16px;
        box-shadow: #7a7a7a;
    } */
    .submit-button{

        text-align: left;
        margin: 5%;
        outline: none;
    }
    button {
        position: relative;
        display: inline-block;
        cursor: pointer;
        outline: none;
        border: 0;
        vertical-align: middle;
        text-decoration: none;
        background: transparent;
        padding: 0;
        font-size: inherit;
        font-family: inherit;
      }
      button.learn-more {
        width: 12rem;
        height: auto;
      }
      button.learn-more .circle {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: relative;
        display: block;
        margin: 0;
        width: 3rem;
        height: 3rem;
        background: #2a2a2b;
        border-radius: 1.625rem;
        
      }
      button.learn-more .circle .icon {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        background: #fff;
      }
      button.learn-more .circle .icon.arrow {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        left: 0.625rem;
        width: 1.125rem;
        height: 0.125rem;
        background: none;
      }
      button.learn-more .circle .icon.arrow::before {
        position: absolute;
        content: "";
        top: -0.25rem;
        right: 0.0625rem;
        width: 0.625rem;
        height: 0.625rem;
        border-top: 0.125rem solid #fff;
        border-right: 0.125rem solid #fff;
        transform: rotate(45deg);
      }
      button.learn-more .button-text {
        transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0.75rem 0;
        margin: 0 0 0 1.85rem;
        color: #ffffff;
        font-weight: 700;
        line-height: 1.6;
        text-align: center;
        text-transform: uppercase;
        outline: none;
      }
      button:hover .circle {
        width: 100%;
      }
      button:hover .circle .icon.arrow {
        background: #fff;
        transform: translate(1rem, 0);
      }
      button:hover .button-text {
        color: #fff;
      }
      
      /* @supports (display: grid) {
        body {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: 0.625rem;
          grid-template-areas: ". main main ." ". main main .";
        }
      
        #container {
          grid-area: main;
          align-self: center;
          justify-self: center;
        }
      } */
/* footer */
      .footer{
        position: relative;
        padding: 7vh 7vh 3vh 7vh;
        /* padding-top: 7vh;
        padding-bottom: 3vh; */
        background: url(./img/footer.jpg);
        background-color: #313131; /* Used if the image is unavailable */
        height: 500px; /* You must set a specified height */
        background-position: center; /* Center the image */
        background-repeat: no-repeat; /* Do not repeat the image */
        background-size: cover; /* Resize the background image to cover the entire container */ 
        display: flex;
        object-fit: cover;
    }
    .layer{
        position: absolute;
        left: 0;
        margin: 0%;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: 0.7;
        z-index: 0;
        bottom: 0;
      }
    .footer-b{
        padding-bottom:6vh;
        z-index: 2;
    }
    .footer img{
        /* height:5vh; */
        width:5vh;
    }
    .footer span{
        font-family: 'Montserrat',sans-serif;
        color: white;
        font-weight: 600;
        font-size: 2.5vh;
        z-index: 2;
    }
    
    .footer p{
        font-family: 'raleway',sans-serif;
        color: white;
        font-weight:500;
        /* font-size: 2.2vh; */
    }
    
    .footer h4{
        color: white;
        opacity: 0.9;
        font-family: 'raleway',sans-serif;
        font-size: 2.5vh;
        font-weight: 600;
    
        margin-bottom: 2vh;
    }
    
    .footer .f-top ul{
        margin:0;
        /* margin-left:-32px; */
        padding-left: 0;
    }
    .footer .f-top a{
        color: white;
        opacity: 0.9;
        text-decoration: none;
        /*border-bottom: 1px solid #c4c4c4;*/
        /* border-left: 1px solid #c4c4c4; */
        padding-bottom: 2px;
        padding-left: 2px;
        font-size: 1.7vh;
        font-family: 'Raleway',sans-serif;
    }
    .footer .f-top li{
        list-style: none;
        color: white;
        opacity: 0.9;
        font-family: 'Raleway',sans-serif;
        font-size: 1.7vh;
        margin-bottom: 3vh;
       
    }
    
    .footer .f-top a:hover{
        list-style: none;
        color: #c4c4c4;
        /* opacity: 0.9; */
        font-family: 'raleway',sans-serif;
        font-size: 1.7vh;
        /* margin-bottom: 1vh; */
        /* border-left: 1px solid #707070; */
        /* border-bottom: 1px solid #707070; */
        /* padding-bottom: 4px; */
        /* padding-left: 4px; */
        text-decoration: none;
    }
    .social{
        padding-top:5vh;
        margin-bottom: 5%;
    }
    .social ul{
        text-align: center;
        margin-left: -32px;
    }
    .social li{
        display:inline;
        padding: 0vh 0.5vh;
    }
    
    .fa-instagram {
        
        color: white;
        font-size: 12px;
        background-color: #101010;
        padding: 7px ;
        border: 2px solid white;
        border-radius: 100%;
        
    }
    .fa-instagram:hover {
        
        color:#101010;
        font-size: 12px;
        background-color: white;
        padding: 7px ;
        border: 2px solid white;
        border-radius: 100%;
        
    }
    
    .fa-linkedin-in {
        
        color: white;
        font-size: 12px;
        background-color: #101010;
        padding: 7px ;
        border-radius: 100%;
        border: 2px solid white;
        
    }
    
    .fa-linkedin-in:hover {
        
        color:#101010;
        font-size: 12px;
        background-color: white;
        padding: 7px ;
        border: 2px solid white;
        border-radius: 100%;
        
        
    }
    .fa-twitter{
        color: white;
        font-size: 12px;
        background-color: #101010;
        padding: 7px ;
        border: 2px solid white;
        border-radius: 100%;
    }
    .fa-twitter:hover{
        color:#101010;
        font-size: 12px;
        background-color: white;
        padding: 7px ;
        border: 2px solid white;
        border-radius: 100%;
    }
    
    .social p{
        text-align: center;
        padding-top: 3vh;
        margin:0px;
        opacity: 0.9;
    }
    #contact{
      padding: 0;
      /* margin-left: 23vh; */
    
    }
    input[type=text] {
      width: 100%;
      padding: 4px;
      border: 1px solid #ccc;
      border-radius: 7px;
      resize: vertical;
      /*box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;*/
      margin-bottom: 6%;
    }
    input[type=submit] {
      background-color: white;
      color: black;
      padding: 6px 10px;
      border: none;
      border-radius: 30px;
      cursor: pointer;
      font-size: 1.4vh;
      font-weight: 600;
      margin-top: 1%;
      margin-bottom: 40%;
      border: 1px solid #ffffff;
    }
    
    input[type=submit]:hover {
      /* background-color: rgb(202, 202, 202); */
      color: rgb(233, 233, 233);
      border: 1px solid #c4c4c4;
      background-color: transparent;
    }
    
    .last p{
     margin-top: 12%;
     font-size: 0.5vh;
     font-family: 'Raleway',sans-serif;
    }
    /* footer */

    @media only screen and (max-width: 768px){
        .first-div .title h1 {
            color: var(--back-text);
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 6vh;
            opacity: 0.15;
            padding-top: 0%;
            margin-top: 9%;
            margin-bottom: 0%;
            padding-bottom: 0%;
            text-transform: uppercase;
            text-align: center;
            z-index: -2;
        }
        .contri-form{
            margin-top: 10%
            ;
            width: 100%;
            text-align: center;
            padding-left: 1%;
            /* margin-left: 25%; */
            /* padding-left: 15%; */
        }
        .contri-form .form-row{
            margin-top: 5%;
        }
        .contri-form input[type=text] {
            background-color: #313131;
            color: white;
            border: none;
            padding: 4%;
            border-radius: 15px;
            transition: .25s;
            font-family: 'raleway';
          }
          .contri-form .form-row .phone{
            width: 100%;
            /* padding: 30%; */
            padding: 0%;
        }
        .upload{
            margin: 20%;
            margin-bottom: 0%;
            width: 100%;
        }
        .form-desc{
            width: 100%;
            margin-top: 0%;
        }
        .footer{
            position: relative;
            padding: 7vh 7vh 3vh 7vh;
            /* padding-top: 7vh;
            padding-bottom: 3vh; */
            background: url(./img/footer.jpg);
            background-color: #313131; /* Used if the image is unavailable */
            height: 130%; /* You must set a specified height */
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: cover; /* Resize the background image to cover the entire container */ 
            display: flex;
            object-fit: cover;
        }
        .layer{
            position: absolute;
            left: 0;
            margin: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 0.7;
            z-index: 0;
            bottom: 0;
          }



    }
    @media(min-width: 769px) and (max-width: 1024px) {
        .col_details{
          font-size: 1.4vh;
        }
        .footer{
          padding: 3vh 3vh 3vh 3vh;
          background-color: #101010;
        }
        .footer p{
          font-family: 'Montserrat',sans-serif;
          color: white;
          font-weight:500;
          font-size: 1.3vh;
        }
        input[type=submit] {
          background-color: white;
          color: black;
          padding: 6px 10px;
          border: none;
          border-radius: 30px;
          cursor: pointer;
          font-size: 1vh;
          font-weight: 700;
          margin-top: 4%;
        }
        input[type=text] {
          width: 80%;
        }
        .footer .f-top li{
          font-size: 1.3vh;
        }
        .mail_col .mail{
          word-wrap: break-word;
        }
        .four_col .col_details{
          color:white;
          opacity: 0.9;
          /* text-align: center; */
          font-family: 'Raleway', sans-serif;
          font-size: 2vh;
          /* width: 60%; */
      
        }
        .contri-form{
            margin-top: 10%
            ;
            width: 100%;
            text-align: center;
            padding-left: 0%;
            /* margin-left: 25%; */
            /* padding-left: 15%; */
        }
        .contri-form .form-row{
            margin-top: 5%;
        }
        .contri-form input[type=text] {
            background-color: #313131;
            color: white;
            border: none;
            padding: 4%;
            border-radius: 15px;
            transition: .25s;
            font-family: 'raleway';
          }
          .contri-form .form-row .phone{
            width: 50%;
            /* padding: 30%; */
            padding: 0%;
        }
        .upload{
            margin: 20%;
            margin-left: 0%;
            padding-left: 5%;
            margin-bottom: 0%;
            width: 100%;
            text-align: left;
        }
        .form-desc{
            width: 100%;
            margin-top: 0%;
        }
        .first-div .title h1 {
            color: var(--back-text);
            font-family: 'Montserrat', sans-serif;
            font-weight: 700;
            font-size: 10vh;
            opacity: 0.15;
            padding-top: 0%;
            margin-top: 9%;
            margin-bottom: 0%;
            padding-bottom: 0%;
            text-transform: uppercase;
            text-align: center;
            z-index: -2;
        }
        .footer{
            position: relative;
            padding: 7vh 7vh 3vh 7vh;
            /* padding-top: 7vh;
            padding-bottom: 3vh; */
            background: url(./img/footer.jpg);
            background-color: #313131; /* Used if the image is unavailable */
            height: 130%; /* You must set a specified height */
            background-position: center; /* Center the image */
            background-repeat: no-repeat; /* Do not repeat the image */
            background-size: cover; /* Resize the background image to cover the entire container */ 
            display: flex;
            object-fit: cover;
        }
        .layer{
            position: absolute;
            left: 0;
            margin: 0%;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 0.7;
            z-index: 0;
            bottom: 0;
          }

    }